/* ============================================================================================= */


/* ========== CLASES ========== */

.about__container {
    row-gap: 2rem;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: var(--mb-4);
}

.about__information {
    margin-bottom: var(--mb-4);
}

.about__information i {
    color: var(--first-color);
    font-size: 1.5rem;
    margin-right: var(--mb-4);
}

.about__information-title {
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.about__information-data {
    align-items: center;
    display: flex;
    margin-bottom: var(--mb-3);
    padding-left: 1.5rem;
}

.about__information-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
}

.about__img {
    border-radius: .5rem;
    margin: 0 auto;
    width: 150px;
}

.active {
    color: var(--text-color);
}

.bd-grid {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 100%;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    max-width: 1024px;
    width: calc(100% - 2rem);
}

.button {
    background-color: var(--first-color);
    border-radius: .5rem;
    color: var(--first-color-lighten);
    display: inline-block;
    font-weight: var(--font-semi-bold);
    padding: 1rem 2rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-dark);
}

.contact ::placeholder {
    color: var(--first-color);
}

.contact__button {
    border: none;
    cursor: pointer;
    outline: none;
}

.contact__container {
    row-gap: 3rem;
}

.contact__info {
    margin-bottom: var(--mb-3);
}

.contact__input {
    background-color: var(--first-color-light);
    border: none;
    border-radius: .5rem;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    outline: none;
    padding: 1rem;
    width: 100%;
}

.contact__subtitle {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
}

.contact__text {
    display: block;
    padding-left: 1rem;
}

.education__container {
    row-gap: 2rem;
}

.education__content {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.education__line {
    background-color: var(--first-color);
    display: block;
    height: 90%;
    transform: translate(5px, -4px);
    width: 2px;
}

.education__rounder {
    background-color: var(--first-color);
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    width: 12px;
}

.education__rounder::before {
    border: 1px solid var(--first-color);
    border-radius: 50%;
    content: '';
    height: 20px;
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
}

.education__time {
    justify-self: center;
    padding: 0 1rem;
}

.education__year,
.education__race {
    margin-bottom: .25rem;
}

.education__university,
.education__specialty {
    display: block;
    font-size: var(--small-font-size);
}

.education__year,
.education__university {
    text-align: right;
}

.footer {
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer__copy {
    font-size: var(--small-font-size);
}

.footer__description {
    margin-bottom: var(--mb-2);
}

.footer__link {
    color: var(--first-color-lighten);
    display: inline-flex;
    font-size: 1.1rem;
    margin: 0 var(--mb-1);
    padding: .40rem;
    transition: .3s;
}

.footer__link:hover {
    transform: scale(1.5);
}

.footer__social {
    margin-bottom: 3rem;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.home__button {
    width: 100%;
}

.home__container {
    align-items: center;
    height: calc(100vh - var(--header-height));
}

.home__data {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: max-content;
    text-align: center;
}

.home__img {
    height: 160px;
    width: 160px;
}

.home__profession {
    color: var(--first-color-dark);
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-5);
}

.home__social {
    margin-bottom: 5rem;
}

.home__social-link {
    border-radius: 50%;
    color: var(--first-color);
    font-size: 1.1rem;
    display: inline-flex;
    margin: 0 var(--mb-1);
    padding: .40rem;
    transition: .3s;
}

.home__social-link:hover {
    color: var(--first-color-dark);
    transform: scale(1.5);
}

.home__title {
    color: var(--first-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

.l-header {
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-fixed);
}

.portfolio__container {
    justify-items: center;
    row-gap: 2rem;
}

.portfolio__data {
    align-items: center;
    background: rgba(0, 0, 0, .8);
    border-radius: .5rem;
    bottom: -100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    transition: .3s;
    width: 100%;
}

.portfolio__img {
    border-radius: .5rem;
    margin: 20px 20px;
    overflow: hidden;
    position: relative;
}

.portfolio__img img {
    margin: auto;
}

.portfolio__img:hover .portfolio__data {
    bottom: 0;
}

.portfolio__link {
    background-color: var(--first-color-lighten);
    border-radius: .25rem;
    color: var(--first-color);
    display: inline-flex;
    font-size: 1.5rem;
    margin-bottom: var(--mb-2);
    padding: .25rem;
}

.portfolio__title {
    color: var(--first-color-lighten);
    font-size: var(--h2-font-size);
    text-align: center;
}

.nav {
    align-items: center;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
}

.nav__close {
    color: var(--first-color-light);
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    color: var(--first-color-lighten);
    font-size: 1rem;
    font-weight: var(--font-bold);
    text-transform: uppercase;
    transition: .3s;
}

.nav__link:hover {
    color: var(--text-color);
}

.nav__menu {
    align-items: center;
    background-color: var(--first-color);
    display: flex;
    left: -100%;
    height: 100vh;
    padding: 3rem;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 90%;
}

.nav__toggle {
    font-size: 1.3rem;
    color: var(--first-color-dark);
    cursor: pointer;
}

.section {
    padding: 4rem 0 2rem;
}

.section-subtitle {
    color: var(--first-color-darken);
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
    text-align: center;
}

.section-title {
    color: var(--first-color);
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.services__container {
    row-gap: 2rem;
}

.services__content {
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    padding: 1.5rem .5rem;
    text-align: center;
}

.services__content:hover {
    background-color: var(--first-color);
    color: var(--first-color-lighten);
}

.services__content:hover > .services__title {
    color: var(--first-color-lighten);
}

.services__icon {
    font-size: 2rem;
    margin-bottom: var(--mb-2);
    padding: .5rem;
}

.services__title {
    color: var(--first-color);
    font-size: 1.25rem;
    margin-bottom: var(--mb-1);
}

.services__content, .services__icon, .services__description, .services__title {
    transition: .3s;
}

.show {
    left: 0;
}

.skills__bar {
    background-color: var(--first-color);
    bottom: -.75rem;
    height: .25rem;
    position: absolute;
}

.skills__html {
    width: 80%;
}

.skills__css {
    width: 70%;
}

.skills__javascript {
    width: 70%;
}

.skills__vuejs {
    width: 60%;
}

.skills__angular {
    width: 40%;
}

.skills__react {
    width: 30%;
}

.skills__jquery {
    width: 50%;
}

.skills__php {
    width: 80%;
}

.skills__node {
    width: 40%;
}

.skills__firebase {
    width: 30%;
}

.skills__python {
    width: 40%;
}

.skills__java {
    width: 70%;
}

.skills__c-sharp {
    width: 70%;
}

.skills__container {
    row-gap: 2rem;
}

.skills__mysql {
    width: 80%;
}

.skills__sql-server {
    width: 40%;
}

.skills__data {
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
    position: relative;
}

.skills__name {
    text-transform: uppercase;
}

.skills__subtitle {
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.text__small {
    font-size: .8em;
    text-align: justify;
}